<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <a class="nav-link" routerLink="menu">MENU</a>
          <a class="nav-link" routerLink="ice-creams">ICE-CREAMS</a>
          <a class="nav-link" routerLink="falooda">FALOODA</a>
          <a class="nav-link" routerLink="desserts">DESSERTS</a>
          <a class="nav-link" routerLink="thickshakes">THICKSHAKES</a>
          <a class="nav-link" routerLink="nuttycones">NUTTYCONES</a>
        </div>
      </div>
    </div>
  </nav>